<div align=center>
<h1>


Movie Ratings Analysis
</div>

<div dir=rtl align=center>
<h2>
این نوت‌بوک، تحلیل داده‌های فیلم‌ها با Pandas و NumPy را آموزش می‌دهد.

<div dir=rtl align=center>
<h2> اهداف:
<br><h3>1. محاسبه تعداد کل فیلم‌ها و کاربران
<br><h3>2. محاسبه تعداد کل فیلم‌ها و کاربران
<br><h3>3. پیدا کردن فیلم‌ها و کاربران برتر
<br><h3>3. تمرین کار با DataFrame و Series

In [55]:
import pandas as pd

# خواندن داده
df = pd.read_csv('movies.csv')

# اضافه کردن رکورد بیشتر برای The Matrix
new_rows = pd.DataFrame([
    {'MovieID':1, 'Title':'The Matrix', 'Genre':'Sci-Fi', 'UserID':106, 'Rating':5},
    {'MovieID':1, 'Title':'The Matrix', 'Genre':'Sci-Fi', 'UserID':107, 'Rating':4}
])

# ترکیب با دیتافریم اصلی
df = pd.concat([df, new_rows], ignore_index=True)
df.head()

   MovieID       Title    Genre  UserID  Rating
0        1  The Matrix   Sci-Fi     101       5
1        2   Inception   Sci-Fi     102       4
2        3     Titanic  Romance     103       5
3        4  The Matrix   Sci-Fi     104       4
4        5     Titanic  Romance     101       3

<div dir=rtl align=center>
<h2>بررسی داده‌ها
<br><h3>- ستون‌ها: MovieID, Title, Genre, UserID, Rating
<br><h3>- هدف: تحلیل امتیازات کاربران و فیلم‌ها

In [56]:
# تعداد کل فیلم‌ها
num_movies = df['MovieID'].nunique()
print(f"Total Movies: {num_movies}")

#also :
#num_movies=df['MovieID'].count() --> output:np.int64(20)

# تعداد کاربران
num_users = df['UserID'].nunique()
print(f"Total Users: {num_users}")

# میانگین امتیاز هر فیلم
avg_rating = df.groupby('Title')['Rating'].mean().sort_values(ascending=False)
print("\nTop Rated Movies:")
print(avg_rating.head())

Total Movies: 20
Total Users: 7

Top Rated Movies:
Title
Avatar          4.5
Avengers        4.5
Forrest Gump    4.5
Gladiator       4.5
Inception       4.5
Name: Rating, dtype: float64

<div dir=rtl align=center>
<h2>
تمرین:
<h3>
<br>1. بیشترین فیلمی که بیشترین امتیاز داده شده را دارد پیدا کنید.
<br>2. تعداد فیلم‌ها در هر ژانر را محاسبه کنید.
<br>3. کاربران با بیشترین میانگین امتیاز را پیدا کنید.

In [59]:
# بیشترین فیلم امتیاز داده شده
top_rated_count = df.groupby('Title')['Rating'].count().sort_values(ascending=False)
print("\nMovies with most ratings:")
print(top_rated_count.head())

# تعداد فیلم‌ها در هر ژانر
genre_count = df['Genre'].value_counts()
print("\nNumber of movies per genre:")
print(genre_count)

# کاربران با بیشترین میانگین امتیاز
top_users = df.groupby('UserID')['Rating'].mean().sort_values(ascending=False)
print("\nTop users by average rating:")
print(top_users.head())

Movies with most ratings:
Title
The Matrix      4
Avatar          2
Avengers        2
Forrest Gump    2
Gladiator       2
Name: Rating, dtype: int64

Number of movies per genre:
Genre
Sci-Fi     8
Romance    4
Action     4
Drama      4
Crime      2
Name: count, dtype: int64

Top users by average rating:
UserID
106    5.000000
103    4.750000
105    4.666667
104    4.500000
102    4.250000
Name: Rating, dtype: float64